body {
  font-family: Arial, sans-serif;
  background-color: #afbcce;
  background-image: url(fundosite.jpeg);
  margin: 0;
  padding: 0;
  color: #101010;

}
.session{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(145, 138, 238);
  height: 40px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

table{
  background-color: #afbcce;
}

.logo {
 position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; 
  border-radius: 80px; 
}

.header-up {
  display: flex;
  background-color: #06427f;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
}

nav {
  background-color: #346096;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fdfeff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

h1{
    color: white;

}

h2 { 
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #191818;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #6189ae;
}

footer {
	background-color: #06427f;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
}
