body {
  font-family: Arial, sans-serif;
  background-color: #9696d5;
  margin: 0;
  padding: 0;
  color: #333;
 /* background-image: url('fundo.jpeg');
  background-size: cover;        
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  background-position: center;   
  color: white;*/
}



header {
  background-color: #325c85;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #eaeaea;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #0059b3;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

h2 { 
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #dce6f1;
}
