body {
  font-family: Arial, sans-serif;
  background-color: #9cbae4;
  margin: 0;
  padding: 0;
  color: #333;
}
.logo {
 position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; 
  border-radius: 80px; 
}

header {
  background-color: #06427f;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #346096;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fdfeff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

h2 { 
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #2b2a2a;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #6189ae;
}
